In [1]:
pip install mysql-connector-python

Requirement already satisfied: mysql-connector-python in c:\users\kjang\appdata\local\programs\python\python311\lib\site-packages (8.3.0)
Note: you may need to restart the kernel to use updated packages.

In [2]:
import mysql.connector as connector

In [3]:
connection = connector.connect(user = "db-capstone-user", password = "Dbcapstone@01")

In [4]:
connection = connector.connect(user = "db-capstone-user", password = "Dbcapstone@01", db="littlelemondb")

In [5]:
show_tables_query = "SHOW tables"

In [6]:
cursor = connection.cursor()

In [7]:
cursor.execute(show_tables_query)

In [8]:
results = cursor.fetchall()

In [9]:
print(results)

[('bookings',), ('customers',), ('menu',), ('menu items',), ('order delivery status',), ('orders',), ('ordersview',), ('staff',)]

In [10]:
for result in results:
    print(result)

('bookings',)
('customers',)
('menu',)
('menu items',)
('order delivery status',)
('orders',)
('ordersview',)
('staff',)

In [11]:
query_with_join = '''
    SELECT c.Customer_name AS "Customer Name", c.Contact_no AS "Contact Details", o.Total_cost AS "Total Cost" FROM
    customers c 
    INNER JOIN bookings b ON c.Customer_id = b.Customer_id
    INNER JOIN orders o ON b.Booking_id = o.Booking_id
    WHERE o.Total_cost > 60;
'''

In [12]:
cursor.execute(query_with_join)

In [13]:
results = cursor.fetchall()

In [15]:
print(cursor.column_names)
for result in results:
    print(result)

('Customer Name', 'Contact Details', 'Total Cost')
('John', 89124519, Decimal('245.75'))
('Steve', 89123748, Decimal('98.50'))
('John', 89124519, Decimal('72.30'))